/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: tahoma;
}

.wrap {
	width: 1900px;
	margin: 0 auto;
}

.head {
	height: 140px;
	background: #585858;
	border-bottom: 5px solid #0174DF;
	box-shadow: inset 1px 0px 2px #000;
}

h1 {
	font-size: 45px ;
	padding: 15px 0 0 30px;
	color: #0174DF;
	letter-spacing: 1px;
}

.head p {
	padding-left: 150px;
	color: white;
	letter-spacing: 2px;
}

.content {
	position: relative;
	background: #F4F4F4;
	height: 1000px
}

.contentl {
	position: absolute;
	left: 0;
	width: 40%;
	height: 400px;
}

.contentlt {
	width: 75%;
	margin-left: 12.5%;
}

h2 {
	margin: 15px 0 45px;
	color: #0174DF;
	font-size: 30px;
}

.contentlt p[name="ps1"] {
	width: 68%;
	margin-left: 15%;
	color: #A88F50;
	font: italic bold  15px tahoma;
}

hr {
	margin: 25px 0;
	background: lightgrey;
	height: 3px;
	color: lightgrey;
	border: none;
}

img {
	float: left;
	width: 150px;
	padding-right: 10px; 	
}

.ps2 {
	width: 80%;
	margin-left: 10%;
	color: lightgrey;
	font: italic bold  15px tahoma;	
}

.contentc {
	position: absolute;
	margin-left: 40%;
	width: 20%;
	height: 800px;
	background: linear-gradient( 120deg, #2E2E2E 25%, #F4F4F4);
	box-shadow: 0 0 5px #000;
	list-style-position: inside;
}

.contentc h2 {
	text-align: center;
}

.contentc button {
	line-height: 70px;
	width: 100%;
	text-align: left;
	background: #848484;
	border: none;
	border-bottom: 2px solid #F4F4F4;	
	color: darkgrey;
	font-size: 20px;
	transition: all .5s ease-in-out;
}

.contentc button:hover {
	border-radius: 4px;
	background: linear-gradient(#F2F2F2,lightgrey);
	border: none;
	box-shadow: 0 0 0px 3px lightgrey, 0 0 5px 2px black, inset 0 0 3px 1px darkgrey;
	color: black;
}

.contentr {
	position: absolute;
	right: 0;
	width: 40%;
	height: 400px;
}

.contentrt  {
	width: 75%;
	margin-left: 12.5%;
}

.contentrt p{
	margin-bottom: 
}

.contentrtgline {
	height: 25px;
	width: 100%;
	background: lightgrey;
	margin: 20px 0;
}

.contentrtgline p[name="ic"] {
	float: left;
	margin: 3px 0 0 25px; 
	cursor: pointer;
	color: #0080FF;
}

.contentrtgline p[name="date"] {
	float: left;
	margin: 3px 0 0 25px; 
}